﻿<section class="content-header">
    <h1>
        {{pageTitle}} 
    </h1>
</section>
<form name="Form3" id="form3" class="form-horizontal" role="form">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">

                    <div class="box-header with-border">
                        <!-- /.box-body -->
                        <div >
                            <button type="submit" class="btn btn-primary" ng-click="form3.submit(Form3)">Submit</button>
                        </div>

                        <!-- /.box-footer -->
                        <div class="alert alert-success alert-dismissible" ng-show="isSavedSucess===1" style="margin-top:2px">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span><i class="icon fa fa-check"></i>Successfully Saved!.</span>
                        </div>
                        <div class="alert alert-danger alert-dismissible" ng-show="isSavedSucess===0" style="margin-top:2px">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span><i class="icon fa fa-check"></i> Error Occurred, please try again </span>
                        </div>


                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->

                    <div class="box-body">


                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-5">
                                <input class="form-control" id="inputTitle" name="title" type="text" ng-model="movie.title"
                                       validator="required" message-id="requireSubmit1">
                                <span id="requireSubmit1"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="shortDescription" class="col-sm-2 control-label">Short Description</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" rows="3" id="inputTitle" name="shortDescription" type="text" ng-model="movie.shortDescription"
                                          validator="required" message-id="requireSubmit2"></textarea>
                                <span id="requireSubmit2"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Release Date</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" datetime-picker="dd/MMM/yyyy" ng-model="picker1.date" is-open="picker1.open" enable-time="false" datepicker-options="picker1.datepickerOptions" close-on-date-selection="false" datepicker-append-to-body="true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'picker1')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Language</label>
                            <div class="col-sm-3">
                                <select ng-model="movie.languageId" class="form-control"
                                        ng-options="option.id as option.text for option in Languages"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Rating</label>
                            <div class="col-sm-1">
                                <input class="form-control" name="rating" type="number" ng-model="movie.rating">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Directors</label>
                            <div class="col-sm-3">
                                <select ng-model="movie.directorId" class="form-control"
                                        ng-options="option.id as option.firstName  + ' ' +  option.lastName for option in Directors"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-3">
                                <select ng-model="movie.countryId" class="form-control"
                                        ng-options="option.id as option.name for option in Countries"></select>
                            </div>
                        </div>
                    </div>
                   

                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->

        <div class="row" ng-show="addCharacters===1">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Characters</h3>
                    </div>
                    <div>
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputTitle" class="col-sm-2 control-label">Actor</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="inputActor" name="actor" type="text" ng-model="movie.charactors.actor">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Character</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="inputCharacterName" type="text" ng-model="movie.charactors.characterName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-primary" ng-click="addMovieCharacters();">Add</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="box-header with-border">
                            <h3 class="box-title">Character List</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Character</th>
                                    <th>Actor</th>

                                </tr>
                                <tr ng-repeat="character in movie.characterList | orderBy : 'character'">

                                    <td>{{character.character}}</td>
                                    <td>
                                        {{character.actorName}}
                                    </td>

                                </tr>
                            </table>
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->


    </section>
</form>