﻿
 
<section class="content-header">
    <h1>
        My Movies
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box" ng-repeat="movie in Movies">
        <div class="box-header with-border">
            <h3 class="box-title">
                <a href="#/movies/{{movie.id}}"> {{movie.title}}</a>
                <span>({{movie.releaseDate | date:'dd/MM/yyyy'}})</span>
            </h3>
            <div class="box-tools pull-right">
                <div id="testers" ng-raty="ratyOptions"
                     ng-model="movie.rating"
                     mouse-over="mouseOver(stars, e);"
                     mouse-out="mouseOut(stars, e);"></div>
            </div>
        </div>
        <div class="box-body">
            {{movie.shortDescription}}
        </div>
        <!-- /.box-body -->
        <div class="box-footer" style="display:none">

        </div>
        <!-- /.box-footer-->
    </div>
</section>
<!-- /.content -->
