﻿<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 >{{movie.title}}</h1>
                    <br /> 
                    <div id="testers" ng-raty="ratyOptions"
                         ng-model="movie.rating" mouse-over="mouseOver(stars, e);"
                         mouse-out="mouseOut(stars, e);"></div>
                    <div class="box-tools pull-right">
                        <a href="#/editmovie/{{movie.id}}"><i class="fa fa-edit" title="Edit this page"></i></a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p class="text-muted">
                      {{movie.shortDescription}}
                    </p>
                    <hr>
                    <strong> Director</strong>
                    <p class="text-muted">{{movie.director}}</p>
                    <hr>
                    <strong> Relesed Date</strong>
                    <p class="text-muted">{{movie.releaseDate | date:'dd/MM/yyyy'}}</p>
                    <hr>
                    <strong> Language</strong>
                    <p class="text-muted">{{movie.language}}</p>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Characters</h3>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Character</th>
                                            <th>Actor</th>
                                        </tr>
                                        <tr ng-repeat="character in movie.characterList | orderBy : 'character' ">

                                            <td>{{character.character}}</td>
                                            <td>
                                                {{character.actorName}}
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
