﻿<form id="form1"  >

    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Actor</label>
        <div class="col-sm-5">
            <input class="form-control" id="inputActor" name="actor" type="text" ng-model="movie.Charactors.Actor">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Character</label>
        <div class="col-sm-5">
            <input class="form-control" id="inputCharacterName" type="text" ng-model="movie.Charactors.CharacterName">
        </div>
    </div>
    
            <button type="button" ng-click="this.addMovieCharacters();">Add</button>
            <button type="submit" ng-click="addMovieCharacters()">Add 2</button>
            <a ng-click="addMovieCharacters();">Add 3</a>
        




</form>